body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #eaeaea;
}

.header {

  display: flex;
  width: 100vw;
  justify-content: space-between;
}


.logo {
  width: 200px;
}

.icon {
  width: 70px;
}

.titulo-h1 {
  text-align: center;
  display: flex;
  justify-content: center;
}


.left {
  display: flex;
  flex-direction: column;
  width: 20%;
  background: whitesmoke;
  height: 100vh;
}

.perfil {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.025);
}


.imagem-profile {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #333;
}

.dados {
  font-family: 'Arial', sans-serif;
}



.nome.profile {
  display: flex;
}

.perfil-main {
  display: flex;
  gap: 20px;
  height: 100vh;
  gap: 64px;
}

.right {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 12px;

}

.news-card {
  display: grid;
  flex-direction: column;
  gap: 12px;
  background-color: white;
  padding: 12px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.025);
  transition: all ease-in-out 200ms;
  cursor: pointer;

  & .news-thumb {
    border-radius: 6px;
  }

  &:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-3px) scale(1.01);
  }

  & .news-title {
    font-weight: 700;
    text-transform: capitalize;
  }

  & .news-category {
    width: max-content;
    padding: 6px 12px;
    background-color: var(--color-tertiary);
    font-weight: 700;
    border-radius: 4px;
    color: var(--color-secondary);
  }

  & .news-details {
    font-weight: 700;

    & .news-author {
      margin-right: 12px;
      color: var(--color-secondary);
    }

    & .news-date {
      color: #949494;
    }
  }
}