@import "_base.css";
@import "_components.css";

body {
  padding: 24px;
}

main {
  padding: 48px;
}

.news-section-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  padding: 24px 0;
}

.news-section-scroll {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  white-space: nowrap;
  padding: 24px 0;
}

.news-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  padding-bottom: 96px;
}

