@import '_base.css';
@import '_components.css';

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .12);
  height: 5vh;
}

.logo {
  width: 100px;
}

.search {
  display: flex;
  padding: 12px;
  justify-content: center;
}

.search-box {
  width: 50%;
  background: gray;
  height: 50px;
  border-radius: 40px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

}

.add {
  margin-left: auto;
}

::-webkit-input-placeholder {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;

}

.search-text {
  width: 40%;
  background: none;
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 0;
  transition: 0.4s;
  width: 0;
  color: black;
}

.search-btn {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.loupe-btn {
  width: 25px;
  height: 25px;
}

.search-box:hover>.search-text {
  width: 320px;
  padding-left: 20px;
}

.user-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.avatar-wrapper {
  background: grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 25px;
  }
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.12);
  padding: 24px;
}

.imagem-profile {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #333;
}

.nome.profile {
  display: flex;
}

.perfil-main {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}

.news-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  height: min-content;
  padding: 48px 24px;
}